# Node.js specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript specific
*.tsbuildinfo
dist/
out/
build/

# Logs
logs
*.log
logs/

# Environment variables
.env
.env.local
.env.*.local

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.idea/
.vscode/
*.sw
